body {
  background-color: #000000;
  %color: #bd93f9;
  color: #ffffff;
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

li:not(:last-child) {
	margin-top: 0px;
    margin-bottom: 2px;
}

details{
	margin: 0 0 0 2px;
	border-left:3px solid #bd93f9;
}
details.addEventListener("toggle", event => {
  if (details.open) {
    details{
		margin: 0 0 0 2px;
		border-left:30px solid #bd93f9;
	}
  } else {
	DEF
  }
});

h1{
}
h2{
	color: #bd93f9;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display:inline-block
}
h3:before{
	content: "";
}
h3{
	color: #ff79c6;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display:inline-block
}
h4{
	color: #ffb86c;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 3px;
	display:inline-block
}
